a {
    color: #2b2a33;
    text-decoration: none;
    cursor: pointer;
}

#form {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50% , -50%)
}

#form input {
    background-color: #2b2a33;
    border: 0px;
    color: #d4d5cc;
    border-right: 1px solid #d4d5cc;
    border-bottom: 1px solid #d4d5cc;
}

#loginButton {
    background-color: #2b2a33;
    color: #d4d5cc;
    border: 0;
    border-left: 1px solid #d4d5cc;
    border-bottom: 1px solid #d4d5cc;
}

#successMessages {
    color: green;
}

#errorMessages {
    color: red;
}

#preformattedMessages {
    font-family: monospace;
    /* white-space: pre;*/
}

#copyButton {
    height: 30px;
    width: 35px;
    vertical-align: top;
}

body {
    background-color: #2b2a33;
    color: #d4d5cc;
}